.vscode
*.DS_Store*

bazel-*
target/

*.pb.*

third_party/*
!third_party/BUILD
!third_party/fmtlib.BUILD
!third_party/onnxruntime*.BUILD
!third_party/spdlog.BUILD
!third_party/taskflow.BUILD
!third_party/zlib.BUILD
!third_party/jsoncpp.BUILD
!third_party/libpcap*.BUILD

*.pcap
!*.pcap.gz
!**/testdata/*
