Package: dni
Version: 2024-01-23
Section: free
Priority: optional
Depends:  
Suggests: 
Architecture: amd64
Installed-Size: 8192
Maintainer: qianzhao_v@outlook.com
Provides: dni-manager
Description: develop
